{% if messages %}
    <div class="alert-container">
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success animate__animated animate__fadeOut animate__delay-5s text-center" role="alert">
                {{ message }}
            </div>
        {% elif message.tags == 'warning' %}
            <div class="alert alert-warning animate__animated animate__fadeOut animate__delay-5s text-center" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}


